//    colors   //
$primaryColor: #01C4FC;  
$secondaryColor: #00024D; 
$tertiaryColor: #E8E8E8;	
$fourthColor: #252829; 
$fifthColor: #1B51A7;

$black: #000;
$white: #fff;
$gray: #999;


//  font_size  // 

$normal: 16px;
$litl: 12px;
$big: 24px;

// шаблоны

.hear_test {
	margin-top: 100px;
	background-color: #000;
}